<div class="container">
  <h1>Server List</h1>
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

  <div class="row filter">
    <div class="col">
      <select  [(ngModel)]="filters.location"  class="custom-select">
        <option value="" selected>All</option>
        <option [value]="location.location_id" *ngFor="let location of locations">{{location.location_name}}</option>
      </select>
    </div>
    <div class="col">
      <select  [(ngModel)]="filters.type"  class="custom-select">
        <option value="" selected>All</option>
        <option value="SAS">SAS</option>
        <option value="SATA">SATA</option>
        <option value="SSD">SSD</option>
      </select>
    </div>
    <div class="col">
      <input type="text" class="form-control" [(ngModel)]="filters.storage" placeholder="storage">
    </div>
    <div class="col">
      <input type="text" class="form-control" [(ngModel)]="filters.model" placeholder="model">
    </div>
    <div class="col">
      <input type="text" class="form-control" [(ngModel)]="filters.ram" placeholder="ram">
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="loadData(1);">Filter</button>
      <button type="button" class="btn btn-light" (click)="resetFilter();" >Reset</button>
    </div>
  </div>



  <table class="table table-bordered">
    <thead>
    <tr>
      <td>ID</td>
      <td>Model</td>
      <td>Ram</td>
      <td>Disk Type</td>
      <td>Space</td>
      <td>Price</td>
      <td>Location</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let server of servers | paginate: { itemsPerPage: 20, currentPage: currentPage ,totalItems : totalCount}">
      <td>{{server.server_id}}</td>
      <td>{{server.server_model}}</td>
      <td>{{server.server_ram}} RAM</td>
      <td>{{server.server_hard_disk_type}}</td>
      <td>{{(server.server_hard_disk_space / 1000)}} TB </td>
      <td>{{server.server_price}}</td>
      <td>{{server.serverLocation.location_name}}</td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </nav>
</div>
