<div>
  <h1>Server List</h1>
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

  <input type="text" [(ngModel)]="filters.location" placeholder="location">
  <input type="text" [(ngModel)]="filters.model" placeholder="model">
  <input type="text" [(ngModel)]="filters.type" placeholder="type">
  <input type="text" [(ngModel)]="filters.storage" placeholder="storage">
  <input type="text" [(ngModel)]="filters.ram" placeholder="ram">
  <button (click)="loadData(1);">Submit</button>
  <button (click)="resetFilter();" >Reset</button>

  <table class="table table-bordered">
    <thead>
    <tr>
      <td>ID</td>
      <td>Model</td>
      <td>Ram</td>
      <td>Disk Type</td>
      <td>Space</td>
      <td>Price</td>
      <td>Location</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let server of servers | paginate: { itemsPerPage: 20, currentPage: currentPage ,totalItems : totalCount}">
      <td>{{server.server_id}}</td>
      <td>{{server.server_model}}</td>
      <td>{{server.server_ram}} RAM</td>
      <td>{{server.server_hard_disk_type}}</td>
      <td>{{(server.server_hard_disk_space / 1000)}} TB </td>
      <td>{{server.server_price}}</td>
      <td>{{server.serverLocation.location_name}}</td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
