<div>
  <h1>Location List</h1>
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let location of locations | paginate: { itemsPerPage: 10, currentPage: pageCount ,totalItems : totalCount}">
      <td>{{location.location_id}}</td>
      <td>{{location.location_name}}</td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
